.card {

  margin-top: 50px;
  margin-right: 50px;
  width: 400px;
  height: 550px;
  border: none;
  background-color: rgb(232, 239, 243);
  border-radius: 10px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 
  5px 5px 10px 0px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.card img {

  max-width: 280px;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgb(50,51,119);
  /* background-color: white; */

}

.candidate-info {
  margin-top: 15px;
}