.modal-overlay {
  
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  
  }
  
.modal-overlay .modal {
    background-color: #b9c1da;
    max-width: 1200px;
    height: 30%;
    overflow-y: auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 1, 1);
}
  
.modal-overlay .close-button {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 100%;
    background-color: #7774e4;
    color: white;
    font-size: 38px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.modal-overlay {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.85);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(255, 255, 255, 0.01); 
}