.modal-overlay {
  
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
  }
  
.modal-overlay .modal {
    background-color: #f5f5f6;
    max-width: 1200px;
    height: 50%;
    overflow-y: auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 1, 1);
}
  
.modal-overlay .close-button {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 100%;
    background-color: rgba(50,51,119);
    color: white;
    font-size: 38px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.modal-overlay {
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.85); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(255, 255, 255, 0.01); 
}

.modal {
    /* border: 2px solid royalblue; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
    border-radius: 5px;
    /* margin: 70px auto; */
    
}

.interviewee {
    border: 2px solid royalblue;
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgba(50,51,119);
}

.report-info {
    border: 2px solid royalblue;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: fit-content;
    margin-bottom: 5px;
    width: 50%;
}

.note {
    border: 2px solid royalblue;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 50%;
}

.report-info p:nth-child(even), .company-name p:nth-child(even), .interview-date p:nth-child(even), .phase p:nth-child(even), .status p:nth-child(even), .note p:nth-child(even) {
    font-size: 25px;
    color: black;
}

.report-info, .company-name, .interview-date, .phase, .status, .notes {
    font-size: 15px;
    color: rgb(102, 100, 100);
    flex: 1;
}

p {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}
