.App .main-content {
  width: 95%;
  margin: 20px auto;
  padding-bottom: 50px;
  flex: 1;
}

.candidates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.search {
  width: 400px;
}

.candidates input {
  /* background-color: #b9c7da; */
  background-color: white;
  max-width: 250px;
  height: 15px;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  outline: none;
  font-size: 1.1em;
  color: #555;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1),
    20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1),
    inset 1px 1px 2px #fff;
}

.candidates-list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

@media all and (max-width: 1300px) {
}

@media all and (max-width: 920px) {
}

@media all and (max-width: 700px) {
  .search {
    width: 100px;
  }
  .candidates {
    justify-content: space-between;
  }
}

@media all and (max-width: 320px) {
  .search {
    width: 100px;
  }
  .candidates {
    justify-content: center;
  }
  .App .main-content {
    margin: 10px auto;
    padding-bottom: 10px;
  }
}
